.frame-child {
  align-self: stretch;
  width: 1920px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  max-width: 100%;
}
.home {
  position: relative;
  line-height: 79px;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) 13px;
  cursor: pointer;
  z-index: 1;
}
.home1 {
  position: relative;
  line-height: 79px;
}
.button1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-22xl);
  cursor: pointer;
  z-index: 1;
}
.home2 {
  position: relative;
  line-height: 79px;
}
.button2,
.rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button2 {
  justify-content: flex-start;
  padding: var(--padding-3xl) 45px;
  cursor: pointer;
  z-index: 1;
}
.rectangle-parent {
  align-self: stretch;
  background-color: var(--color-gray);
  justify-content: flex-end;
  gap: 1px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-44xl);
  color: var(--color-white);
  font-family: var(--font-lucida-bright);
}
.hello-there-my {
  width: 678px;
  position: relative;
  line-height: 125%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.contents,
.hello-there-my-name-is-yohann-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.hello-there-my-name-is-yohann-wrapper {
  width: 890px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.contents {
  width: 100%;
  position: relative;
  backdrop-filter: blur(4px);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 673px;
  gap: 96px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 30px;
  color: var(--color-white);
  font-family: var(--font-lucida-bright);
}
@media screen and (max-width: 975px) {
  .contents {
    gap: 48px;
  }
}
@media screen and (max-width: 950px) {
  .hello-there-my {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 700px) {
  .contents {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .button2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hello-there-my {
    font-size: 18px;
    line-height: 22px;
  }
}